<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahe.humble_bundle">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.mahe.humble_bundle.PV1" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name="com.example.mahe.humble_bundle.HomePage" />
        <activity android:name="com.example.mahe.humble_bundle.ProfilePage" />
        <activity android:name="com.example.mahe.humble_bundle.NotificationPage" />
        <activity android:name="com.example.mahe.humble_bundle.SearchPage" />

        <activity android:name="com.example.mahe.humble_bundle.PV2" />
        <activity android:name="com.example.mahe.humble_bundle.PV3" />
        <activity android:name="com.example.mahe.humble_bundle.Login"></activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".clothes">
            <intent-filter>
                <action android:name="android.intent.action.clothes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".utensils">
            <intent-filter>
                <action android:name="android.intent.action.utensils" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".food">
            <intent-filter>
                <action android:name="android.intent.action.food" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".gadgets">
            <intent-filter>
                <action android:name="android.intent.action.gadgets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".machines">
            <intent-filter>
                <action android:name="android.intent.action.machines" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".toiletaries">
            <intent-filter>
                <action android:name="android.intent.action.toiletaries" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".vehicle">
            <intent-filter>
                <action android:name="android.intent.action.vehicle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".blankets">
            <intent-filter>
                <action android:name="android.intent.action.blankets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".toys">
            <intent-filter>
                <action android:name="android.intent.action.toys" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>


</manifest>